.clients-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-list {
  text-align: center;
  list-style: none;
  padding: 0;
}

.clients-heading {
  margin: 140px 0 0 0;
  color: black;
  cursor: default;
}
