#date-range {
  position: absolute;
  top: 0;
  right: 300px;
  padding: 5px;
  border: 1px solid black;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  outline: none;
  font-size: 15px;
}
