/* TABLE STYLES */

td,
th {
  padding: 7px;
  width: 7vw;
  max-width: 140px;
  font-weight: 400;
  border: 1px solid #26608e;
}

table {
  margin: 90px auto;
  font-family: "Mulish", sans-serif;
  text-align: center;
  border-spacing: 0;
  cursor: default;
}

td:hover {
  background-color: #f78d2d;
  transition: background-color 200ms ease-in-out;
}

caption {
  padding: 15px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 800px) {
  th,
  td {
    padding: 0;
  }
}

/* TABLE HEAD STYLES */
.table-head {
  background-color: #0896c5;
  color: white;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

/* TABLE BODY STYLES */

.table-body {
  background-color: rgba(247, 141, 45, 0.4);
  color: black;
}

/* TABLE TOTAL STYLES */
.table-total {
  background-color: #26608e;
  color: white;
}
