.header {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #26608e;
  color: white;
  height: 100px;
  line-height: 100px;
  border-bottom: 6px solid #f78d2d;
}

.main-heading {
  margin: 0;
  cursor: default;
}

@media (max-width: 800px) {
  .main-heading {
    font-size: 25px;
  }
}

@media (max-width: 300px) {
  .main-heading {
    font-size: 20px;
  }
}
